<p>Dear Patient,</p>
<p>We have detected a new device attempting to access your medical information on our application. The details of the device are as follows:</p>
<ul>
    <li><b>Invitation information:</b> {{notes}}</li>
    <li><b>Email:</b> {{info.email}}</li>
    <li><b>Longitude:</b> {{info.longitude}}   <b>Latitude:</b> {{info.latitude}}</li>
    <li><b>Postal Code:</b> {{info.postal_code}}   <b>City:</b> {{info.city}}   <b>Country:</b> {{info.country}}</li>
    <li><b>Browser:</b> {{info.userAgent}}</li>
    <li><b>Platform:</b> {{info.platform}}</li>
</ul>
<p>If you recognize this device and you have authorized the access, you do not need to do anything.</p>
<p>If you do not recognize this device or have not authorized the access, please, go to <a href="https://nav29.org/">https://nav29.org</a> and log in with your credentials. Once in your account, look for the option to deny access to this device.</p>
<p>We take the security of your information very seriously. If you have any questions or need further assistance, please do not hesitate to contact us.</p>
<p>Kind regards,</p>
