<p>Estimado paciente,</p>
<p>Hemos detectado un nuevo dispositivo intentando acceder a su información médica en nuestra aplicación. Los detalles del dispositivo son los siguientes:</p>
<ul>
    <li><b>Información de la invitación:</b> {{notes}}</li>
    <li><b>Correo electrónico:</b> {{info.email}}</li>
    <li><b>Longitud:</b> {{info.longitude}}   <b>Latitud:</b> {{info.latitude}}</li>
    <li><b>Código postal:</b> {{info.postal_code}}   <b>Ciudad:</b> {{info.city}}   <b>País:</b> {{info.country}}</li>
    <li><b>Navegador:</b> {{info.userAgent}}</li>
    <li><b>Plataforma:</b> {{info.platform}}</li>
</ul>
<p>Si reconoce este dispositivo y ha autorizado el acceso, no tiene que hacer nada.</p>
<p>Si no reconoce este dispositivo o no ha autorizado el acceso, por favor, acceda a <a href="https://nav29.org/">https://nav29.org</a> e inicie sesión con sus credenciales. Una vez en su cuenta, busque la opción para denegar el acceso a este dispositivo.</p>
<p>Nos tomamos muy en serio la seguridad de su información. Si tiene alguna pregunta o necesita ayuda adicional, no dude en ponerse en contacto con nosotros.</p>
<p>Atentamente,</p>
